package page

templ Home() {
	@MainLayout() {
		<article id="article">
			// <h2>Chris Gradwohl</h2>
			<p>
				Hello and welcome to my part of the internet. I write about building software and related topics. Enjoy!
			</p>
		</article>
		<article>
			<a href="/foo">Primary</a>
		</article>
	}
}
